.spell-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
    &__name {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 8px;
    }

    &__metadata {
        text-align: center;
        font-style: italic;
        margin-bottom: 8px;
    }

    &__casting-info {
        margin-bottom: 8px;

        &__casting-time,
        &__casting-range,
        &__casting-duration {
            margin-bottom: 4px;
        }

        &__label {
            font-weight: bold;
        }

        &__value {
            margin-left: 8px;
        }
    }

    &__description,
    &__higher-levels {
        margin-bottom: 8px;
    }

    &__footer {
        font-size: 0.9em;
        color: #777;
    }
}
