<div class="spell-card" [style.border-color]="htmlColour">
    <div class="spell-card__name" [style.border-color]="htmlColour">
        {{spell.name}}
    </div>
    <div class="spell-card__metadata" [style.border-color]="htmlColour">
        {{formatSpellLevel(spell.level)}}
        {{spell.school}}
        <i>{{spell.requiresConcentration? ', Requires Concentration' : ''}} {{spell.isRitual ? ', Ritual' : ''}}</i>
    </div>
    <div class="spell-card__casting-info" [style.border-color]="htmlColour">
        <div class="spell-card__casting-time">
            <div class="spell-card__label">Casting time</div>
            <div class="spell-card__value">{{spell.castingTime}}</div>
        </div>
        <div class="spell-card__casting-range">
            <div class="spell-card__label">Casting range</div>
            <div class="spell-card__value">{{spell.range}}</div>
        </div>
        <div class="spell-card__casting-duration">
            <div class="spell-card__label">Casting duration</div>
            <div class="spell-card__value">{{spell.duration}}</div>
        </div>
    </div>
    <div class="spell-card__description" [ngStyle]="{ 'font-size.px': calculateFontSize() }"
        [innerHTML]="spell.description | diceBoldPipe">
    </div>
    <div class="spell-card__description spell-card__higher-levels" [ngStyle]="{ 'font-size.px': calculateFontSize() }"
        [innerHTML]="spell.atHigherLevels ? (spell.atHigherLevels| diceBoldPipe) : ''">
    </div>
    <div class="spell-card__footer">
        <div class="spell-card__class">{{spell.class}}</div>
        <div class="spell-card__components">{{spell.components}}</div>
        <!-- <div class="spell-card__source">{{spell.source}}</div> -->
    </div>
</div>