<div class="top-bar button-group">
    <div class="top-bar__left">
        <button (click)="manageButtonClick('ADD')" [disabled]="!enableNew" class="button-group__button button-group__button--add">ADD</button>
        <button (click)="manageButtonClick('EDIT')" [disabled]="!enableEdit" class="button-group__button button-group__button--edit">EDIT</button>
        <button (click)="manageButtonClick('DELETE')" [disabled]="!enableDelete" class="button-group__button button-group__button--delete">DELETE</button>

    </div>
    <div class="top-bar__right">
        <button (click)="manageButtonClick('IMPORT')" [disabled]="!enableImport" class="button-group__button button-group__button--import">IMPORT</button>
        <button (click)="manageButtonClick('EXPORT')" [disabled]="!enableExport" class="button-group__button button-group__button--export">EXPORT</button>
    </div>
</div>
