<app-top-bar [enableNew]="spellForm.valid" [enableEdit]="false" [enableImportExport]="false"
  (addClick)="manageAddClick()" (editClick)="manageEditClick()" (importClick)="manageImportClick()"
  (exportClick)="manageExportClick()"></app-top-bar>

<div class="app-body">
  <app-accordion openHeader="close form" closeHeader="open form" [isOpen]="openAccordion">
    <app-spell-form [spellForm]="spellForm" [schools]="schools" [levels]="levels" [classes]="classes"></app-spell-form>
  </app-accordion>
</div>

<div class="spellbook" #spellbook id="printHere">
  @for (spell of spellBookSignal(); track $index) {
  <app-spell-card [spell]="spell" [colourMap]="dndClassColors" (click)="spellClick(spell, $index)"></app-spell-card>
  }

</div>

@if(spellBookSignal().length === 0) {
  <div class="app-body no-spell-message">Empty spellbook, please add or import some spells</div>
}
